li.search-entry {
  display: flex;
  align-items: center;
  margin: 10px 0;
  line-height: 30px;
  list-style: none;
}

img.bullet {
  margin: 6px;
  padding-top: 3px;
}

img.subscribe {
  content: url("/static/subscribe_24.png");
}

img.subscribe:hover {
  content: url("/static/plus_24.png");
  cursor: pointer;
}

img.subscribed:hover {
  content: url("/static/minus_24.png");
  cursor: pointer;
}

img.subscribed {
  content: url("/static/check-mark_24.png");
}

img.series, img.author {
  padding: 3px;
}

img.author {
  content: url("/static/author_24.png");
}

img.series {
  content: url("/static/series_24.png");
}

@media (max-width: 1000px) {
  div.subscribe-col {
    margin-right: -1dp;
  }
}

@media (min-width: 1001px) {
  div.subscribe-col {
    margin-right: -3em;
  }
}

div.authors-entry div.series {
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.authors-entry div.author {
  display: none;
}
