<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title>Флибустьер!</title>

</head>
<body>
    <h1>Флибустьер!</h1>

    <form action="/">
        <label for="searchTerm">Что ищем?</label>
        <input type="text" name="searchTerm" id="searchTerm" value="{{ .DefaultSearchTerm }}"/>
        <input type="submit">
    </form>

    {{ if .SearchResult }}
    <ul>
    {{ range .SearchResult.Entry }}
        <li>
            <a href="/resolver?id={{ .EntryId }}&type={{ .EntryType }}">{{ .EntryName }}</a>
            <a href="/subscribe?id={{ .EntryId }}&type={{ .EntryType }}">+</a> <br/>
            <small>{{ .Author }}</small>
        </li>
    {{ end }}
    </ul>
    {{ else }}

    <p>Ain't nothing here chief</p>

    {{ end }}

</body>
</html>