<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title>Флибустьер!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <style>
        #tracked_status {
            position: absolute;
            top: 50px;
            left: 30%;
            background-color: antiquewhite;
            padding: 3em;
        }
    </style>
</head>
<body>
    <h1>Флибустьер!</h1>

    <form action="/">
        <label for="searchTerm">Что ищем?</label>
        <input type="text" name="searchTerm" id="searchTerm" value="{{ .DefaultSearchTerm }}"/>
        <input type="submit">
    </form>

    {{ if .TrackResult  }}
        <div id="tracked_status">Добавлено!</div>
        <script>
            $('#tracked_status').fadeOut(3000);
        </script>
    {{ end }}

    {{ if .SearchResult }}
    <ul>
    {{ range .SearchResult.Entry }}
        <li>
            <a href="/resolver?id={{ .EntryId }}&type={{ .EntryType }}">{{ .EntryName }}</a> &ndash; {{ .Author }}
            <a href="/track?id={{ .EntryId }}&type={{ .EntryType }}">(добавить)</a> <br/>

        </li>
    {{ end }}
    </ul>
    {{ else }}

    <p>Ain't nothing here chief</p>

    {{ end }}

</body>
</html>