<html>
<head>
    <link rel="stylesheet" href="static/main.css">
    <meta charset="UTF-8">
    <title>Флибустьер!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <style>
        #tracked_status {
            position: absolute;
            top: 5%;
            left: 5%;
            width: 80%;
            background-color: antiquewhite;
            padding: 2%;
        }
    </style>
</head>
<body>
    <h1>Флибустьер!</h1>

    <form action="/">
        <label for="searchTerm">Что ищем?</label>
        <input type="text" name="searchTerm" id="searchTerm" value="{{ .DefaultSearchTerm }}"/>
        <input type="submit">
    </form>

    {{ if .TrackResult }}

    {{ if eq .TrackResult 1 }}
        <div id="tracked_status">Добавлено!</div>
    {{ else if eq .TrackResult 2 }}
        <div id="tracked_status">Ужо давно добавлено!</div>
    {{ end }}

    <script>
        $('#tracked_status').fadeOut(3000, function() {
            window.location.replace("/");
        });
    </script>

    {{ end }}

    {{ if .SearchResult }}
    <ul>
    {{ range .SearchResult.Entry }}
        <li>
            <a href="/resolver?EntryId={{ .EntryId }}&EntryType={{ .EntryType }}">{{ .EntryName }}</a> &ndash; {{ .Author }}
            <a href="/track?EntryId={{ .EntryId }}&EntryType={{ .EntryType }}">(добавить)</a> <br/>
        </li>
    {{ end }}
    </ul>
    {{ else }}

    <p>Ain't nothing here chief</p>

    {{ end }}

    {{ if .TrackedEntries }}

    <ul>
        {{ range .TrackedEntries.Entry }}
        <li>
            <a href="{{ .EntryUrl }}">{{ .Entry.EntryName }}</a>
        </li>
        {{ end }}
    </ul>

    {{ end }}

</body>
</html>