{{template "header" }}

<div class="container">
    <div class="row mt-5">
        <div class="col ">
            <h1>Hello, {{.Name}}!</h1>
        </div>
    </div>

    {{ template "search_form" }}

    {{ if .HasSearchResults }}
    {{ if .SearchResults }}
    <div class="row mt-5">
        <div class="col">
            <h4>Результаты поиска</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pl-0">
            {{ range .SearchResults }}
            {{ template "search_result_item" . }}
            {{ end }}
        </div>
    </div>
    {{ else }}
    <div class="col-md-4">Not found</div>
    {{ end }}

    {{ end }}
    <div class="row mt-5">
        <div class="col-md-12">
            <h4>Отслеживаем</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 pl-0">
            {{ range .TrackedEntries }}
            {{ template "tracked_entry" . }}
            {{ end }}
        </div>
    </div>
</div>


{{template "footer" }}