<form action="/search/" onsubmit="onSearchSubmit()">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <input type="text" class="form-control mt-2" id="searchTerm" name="searchTerm"
                   placeholder="Метельский"/>
            <small id="searchHelp" class="form-text text-muted">Имя автора или название серии</small>
          </div>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-primary mt-2" onclick="onSearchSubmit()">Найти!</button>
        </div>
      </div>
    </div>
  </div>

</form>