<li class="search-entry">
    <div class="container">
        <div class="row">
            <div class="col-1 subscribe-col">
                <img class="bullet {{ .GetEntryClass }} subscribed"
                     onclick="UntrackEntry('{{ .Entry.Key.EntityId }}', '{{.Entry.Key.EntityType.Number}}');"/>
            </div>
            <div class="col-11">
                <div class="container">
                    <div class="row">
                        <div class="col-12 pl-0">
                            <a target="_blank" href="{{ .GetUrl }}">{{ .Entry.EntryName }}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 pl-0 authors-entry">
                            <div class="{{ .GetEntryClass }}">
                                {{.Entry.EntryAuthor}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>